<!DOCTYPE html>
<html>

<head>
    <title>__PAGETITLE__</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="favicon.ico">
</head>

<body>
    <header>
        <h1>__PAGETITLE__</h1>
    </header>
    <main>
    <ul class="container">
__PROJECTLIST__
    </ul>
    </main>
    <footer>
        © 2025 <a href="https://github.com/rumkugel13" target="_blank">rumkugel13</a>
    </footer>
</body>

</html>