body {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ubuntu', sans-serif;
    /*background: #2c3e50;*/
    background: repeating-linear-gradient( 30deg, #2c3e50, #2c3e50 200px, #34495e 200px, #34495e 400px );
    background-attachment: fixed;
    color: #ecf0f1;
    --text-color: #ecf0f1;
    --link-hover-color: #3498db;
    --dark-color: #34495e;
    --darker-color: #2c3e50;
    --border-color: #7f8c8d;
    --active-color: #27ae60;
}

header, footer {
    text-align: center;
}

nav {
    margin: 0 auto 20px auto;
}

nav div {
    margin: 0 auto;
    min-width: 300px;
    max-width: 550px;
}

.navlist {
    background: var(--dark-color);
    padding: 0;
    margin: 0 1em;
    overflow: hidden;
    list-style: none;
}

.navlist li {
    display: inline-block;
    float: left;
    display: block;
}

.navlist li a {
    display: block;
    text-decoration: none;
    padding: 1em;
}

.navlist li a:hover {
    background-color: var(--darker-color);
}

.navlist li .active {
    background-color: var(--active-color);
}

.subheader {
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: .5s ease;
}

.border {
    border: 2px;
    border-color: var(--border-color);
    border-style: solid;
    border-radius: 10px;
}

.content {
    margin-bottom: 20px;
    background: var(--dark-color);
    padding: 10px;
    border: 2px;
    border-color: var(--border-color);
    border-style: solid;
    border-radius: 10px;
}

.wrapper {
    display: flex;
    min-width: 300px;
}

.element {
    box-sizing: border-box;
}

.element:nth-child(2) {
    padding-left: 10px;
}

.element:nth-child(3) {
    flex: 0.3;
}

@media screen and (max-width:550px) {
    .wrapper {
        flex-wrap: wrap;
    }

    .element:first-child {
        flex-basis: 100%;
        align-items: center;
        align-content: center;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.extra {
    text-align: right;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.bot {
    align-self: end;
    margin-top: auto;
    margin-bottom: 10px;
}

.top {
    margin-top: 10px;
    margin-bottom: auto;
}

img {
    /*color: #bdc3c7;*/
    text-align: center;
    transition: .5s ease;
}

.container {
    max-width: 720px;
    padding: 0 20px;
    margin: 0 auto;
}

.description {
}

.paragraph {
    margin: 10px;
}

.jserror {
    color: red;
    text-align: center;
}

a:link, a:visited {
    color: var(--text-color);
}

a:hover, a:active {
    color: var(--link-hover-color);
}

.gridelements {
    display: flex;
    padding: 1em;
    margin: 1em;
    flex-direction: column;
    background: var(--dark-color);
}

.grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    /*grid-auto-rows: 1fr;*/
    max-width: 1080px;
}

.zeromargin {
    
}

div.gridelements ul {
    margin: 0 auto;
    padding-left: inherit;
}

.imgcontainer {
    margin: 0 auto;
    position: relative;
    transition: .5s ease;
}

.imgcontainer:hover img {
    opacity: 0.5;
}

.imgcontainer:hover div {
    opacity: 1;
    color: var(--text-color);
}